In [6]:
# Import MySQL Connector/Python 
import mysql.connector as connector

connection=connector.connect(user="root",password="")

cursor = connection.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS little_lemon_db")

cursor.execute("USE little_lemon_db")

In [7]:
#MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

In [8]:
# Create MenuItems table
cursor.execute(create_menuitem_table)
print("MenuItems table is created.\n")

# Create Menu table
cursor.execute(create_menu_table)
print("Menus table is created.\n")

# Create Bookings table
cursor.execute(create_booking_table)
print("Bookings table is created.\n")

# Create Orders table
cursor.execute(create_orders_table)
print("Orders table is created.\n")

# Create Employees table
cursor.execute(create_employees_table)
print("Employees table is created.\n")

MenuItems table is created.

Menus table is created.

Bookings table is created.

Orders table is created.

Employees table is created.

In [9]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName,
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (Name, Role, Address, Contact_Number, Email, Annual_Salary) VALUES
('Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
('Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
('Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
('Fatma Kaya','Assistant Chef','132 Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
('Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
('John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [10]:
# Populate MenuItems table
print("Inserting data in MenuItems table.")
cursor.execute(insert_menuitems)
print("Total number of rows in MenuItem table: {}\n".format(cursor.rowcount))
connection.commit()

# Populate MenuItems table
print("Inserting data in Menus table.")
cursor.execute(insert_menu)
print("Total number of rows in Menus table: {}\n".format(cursor.rowcount))
connection.commit()

# Populate Bookings table
print("Inserting data in Bookings table.")
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: {}\n".format(cursor.rowcount))
connection.commit()

# Populate Orders table
print("Inserting data in Orders table.")
cursor.execute(insert_orders)
print("Total number of rows in Orders table: {}\n".format(cursor.rowcount))
connection.commit()

# Populate Employees table
print("Inserting data in the Employees table.")
cursor.execute(insert_employees)
print("Total number of rows in the Employees table: ", cursor.rowcount)
connection.commit()

Inserting data in MenuItems table.
Total number of rows in MenuItem table: 17

Inserting data in Menus table.
Total number of rows in Menus table: 12

Inserting data in Bookings table.
Total number of rows in Bookings table: 6

Inserting data in Orders table.
Total number of rows in Orders table: 5

Inserting data in the Employees table.
Total number of rows in the Employees table:  6

## Task 1: Establish a connection 
Step one: Import MySQLConnectionPool

Step two: Import Error

Step three: Create a pool named pool_a with two connections. Use a try-except block to handle any possible errors. 

Your database configurations are as follows:

dbconfig={"database":"little_lemon_db", "user":"your_username", "password":"your_password"}

Step four: Obtain a connection from pool_a and create a cursor object to communicate with the database.

In [11]:
# Step 1: Import MySQLConnectionPool
from mysql.connector.pooling import MySQLConnectionPool

# Step 2: Import Error
from mysql.connector import Error

# Step 3: Create a pool named pool_a with two connections
dbconfig = {
    "database": "little_lemon_db",
    "user": "root",
    "password": ""
}

try:
    pool = MySQLConnectionPool(pool_name="mypool",
                                 pool_size=2,
                                 **dbconfig)
    print("Connection pool created successfully.")
except Error as err:
    print(f"Error: {err}")

# Step 4: Obtain a connection from pool_a and create a cursor object
try:
    connection = pool.get_connection()
    cursor = connection.cursor()
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as err:
    print("Error code:", err.errno)
    print("Error message:", err.msg)

Connection pool created successfully.
The connection pool is created with a name:  mypool
The pool size is: 2

## Task 2: Implement a stored procedure called PeakHours
Step one: Write a SQL CREATE PROCEDURE query for PeakHours

Use HOUR to extract the hour part from the BookingSlot.

Use COUNT on hour to count the number of bookings.

Use GROUP BY on booking hour.

Use ORDER BY on the number of bookings in descending order.

Step two: Run the stored procedure query by invoking execute module on the cursor.

Step three: Invoke callproc to call the stored procedure.

Step four: Fetch the results in a variable called dataset.

Step five: Extract the names of the columns.

Step six: Print the names of the columns.

Step seven: Print the sorted data using for loop.

In [12]:
# Step 1: Write a SQL CREATE PROCEDURE query for PeakHours
"""
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(BookingSlot) AS BookingHour, COUNT(*) AS NumberOfBookings
    FROM Bookings
    GROUP BY BookingHour
    ORDER BY NumberOfBookings DESC;
END;
"""


# Step 2: Run the stored procedure query by invoking execute on the cursor
try:
    cursor.execute("DROP PROCEDURE IF EXISTS PeakHours")
    cursor.execute("""
        CREATE PROCEDURE PeakHours()
        BEGIN
            SELECT HOUR(BookingSlot) AS BookingHour, COUNT(*) AS NumberOfBookings
            FROM Bookings
            GROUP BY BookingHour
            ORDER BY NumberOfBookings DESC;
        END;
    """)
    print("Stored procedure PeakHours created successfully.")
except Error as err:
    print(f"Error: {err}")

# Step 3: Invoke callproc to call the stored procedure
try:
    cursor.callproc('PeakHours')
    print("Stored procedure PeakHours called successfully.")
except Error as err:
    print(f"Error: {err}")

# Step 4: Fetch the results in a variable called dataset
dataset = []
for result in cursor.stored_results():
    dataset = result.fetchall()

# Step 5: Extract the names of the columns
columns = [desc[0] for desc in result.description]

# Step 6: Print the names of the columns
print(" | ".join(columns))

# Step 7: Print the sorted data using a for loop
for row in dataset:
    print(" | ".join(map(str, row)))

Stored procedure PeakHours created successfully.
Stored procedure PeakHours called successfully.
BookingHour | NumberOfBookings
19 | 2
15 | 1
17 | 1
18 | 1
20 | 1

## Task 3: Implement a stored procedure GuestStatus
Step one: Write a SQL CREATE PROCEDURE query for GuestStatus.

Step two: Combine the guest’s first and last name from the booking column using CONCAT. 

Step three: Use CASE to implement the following statuses for each guest’s order:

If the Role in the Employee table is Manager or Assistant Manager then the guest’s order status is Ready to pay

If the Role in the Employee table is Head Chef then the status is Ready to serve

If the Role in the Employee table is Assistant Chef then the status is Preparing Order

If the Role in the Employee table is Head Waiter then the status is Order served

Step four: LEFT JOIN Bookings table with Employees ON EmployeeID

Step five: Run the stored procedure query by invoking execute module on the cursor.

Step six: Invoke callproc to call the stored procedure.

Step seven: Fetch the results in a variable called dataset.

Step eight: Extract the names of the columns.

Step nine: Print the names of the columns.

Step ten: Print the sorted data using for loop.

Step eleven: Close the connection to return it back to the pool.

In [13]:
# Step 1: Write a SQL CREATE PROCEDURE query for GuestStatus
"""
CREATE PROCEDURE GuestStatus()
BEGIN
    SELECT 
        CONCAT(Bookings.GuestFirstName, ' ', Bookings.GuestLastName) AS GuestName,
        CASE 
            WHEN Employees.Role = 'Manager' OR Employees.Role = 'Assistant Manager' THEN 'Ready to pay'
            WHEN Employees.Role = 'Head Chef' THEN 'Ready to serve'
            WHEN Employees.Role = 'Assistant Chef' THEN 'Preparing Order'
            WHEN Employees.Role = 'Head Waiter' THEN 'Order served'
            ELSE 'Unknown status'
        END AS OrderStatus
    FROM Bookings
    LEFT JOIN Employees ON Bookings.EmployeeID = Employees.EmployeeID;
END;
"""

"""
Step 2: Combine the guest’s first and last name using CONCAT
This step is already covered in the SELECT statement within the CREATE PROCEDURE query above.

Step 3: Use CASE to implement the statuses
The CASE statement in the SELECT clause checks the role of the employee and assigns the corresponding status.

Step 4: LEFT JOIN the Bookings table with Employees ON EmployeeID
This is also included in the SELECT statement within the CREATE PROCEDURE query.

Step 5: Run the stored procedure query by invoking execute on the cursor
"""

from mysql.connector import pooling, Error, PoolError  # Ensure PoolError is imported

try:
    cursor.execute("DROP PROCEDURE IF EXISTS GuestStatus")
    cursor.execute("""
        CREATE PROCEDURE GuestStatus()
        BEGIN
            SELECT 
                CONCAT(Bookings.GuestFirstName, ' ', Bookings.GuestLastName) AS GuestName,
                CASE 
                    WHEN Employees.Role = 'Manager' OR Employees.Role = 'Assistant Manager' THEN 'Ready to pay'
                    WHEN Employees.Role = 'Head Chef' THEN 'Ready to serve'
                    WHEN Employees.Role = 'Assistant Chef' THEN 'Preparing Order'
                    WHEN Employees.Role = 'Head Waiter' THEN 'Order served'
                    ELSE 'Unknown status'
                END AS OrderStatus
            FROM Bookings
            LEFT JOIN Employees ON Bookings.EmployeeID = Employees.EmployeeID;
        END;
    """)
    print("Stored procedure GuestStatus created successfully.")

    cursor.callproc('GuestStatus')
    print("Stored procedure GuestStatus called successfully.")

    dataset = []
    for result in cursor.stored_results():
        dataset = result.fetchall()

    columns = [desc[0] for desc in result.description]
    print(" | ".join(columns))

    for row in dataset:
        print(" | ".join(map(str, row)))

except Error as err:
    print(f"Error: {err}")

finally:
    if connection:
        try:
            connection.close()
            print("Connection returned to the pool.")
        except PoolError as pe:
            print(f"Failed to return connection to the pool: {pe}")

Stored procedure GuestStatus created successfully.
Stored procedure GuestStatus called successfully.
GuestName | OrderStatus
Anna Iversen | Ready to pay
Joakim Iversen | Ready to pay
Vanessa McCarthy | Ready to serve
Marcos Romero | Preparing Order
Hiroki Yamane | Ready to pay
Diana Pinto | Order served
Connection returned to the pool.

## Little Lemon analysis and sales report
You have gained all the necessary skills and knowledge required to interact with the back-end MySQL database from your Python-based front-end application via the standard database client MySQL Connector/Python. 

Follow the instructions in the exercises given below and create a Jupyter notebook to produce a Little Lemon analysis and sales report. You need to submit this report for your peers to review.

 

## Task 1:
Complete the following steps to establish a connection pool:

To create a connection pool, import MySQLConnectionPool class from MySQL Connector/Python.

To find the information on the error, import the Error class from MySQL Connector/Python.

Define your database configurations as a Python dictionary object called dbconfig.

Establish a connection pool [pool_name = pool_b] with two connections. 

Implement error handling using a try-except block in case the connection fails.

In [14]:
# Import necessary modules
from mysql.connector import pooling, Error

# Define database configurations
dbconfig = {
    "database": "little_lemon_db",
    "user": "root",
    "password": ""
}

# Initialize the connection pool
try:
    pool = pooling.MySQLConnectionPool(
        pool_name="pool",
        pool_size=2,
        **dbconfig
    )
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)
except Error as err:
    print(f"Error: {err}")

The connection pool is created with a name:  pool
The pool size is: 2

## Task 2:
Three guests are trying to book dinner slots simultaneously. Get the connections from pool_b and insert the following data in the Bookings table:


TIP: You need to add a connection to connect the third guest.


Guest 1:

Table Number: 8

First Name: Anees

Last Name: Java

Booking Time: 18:00

EmployeeID: 6


Guest 2:

Table Number: 5

First Name: Bald

Last Name: Vin

Booking Time: 19:00

EmployeeID: 6


Guest 3:

Table Number: 12

First Name: Jay

Last Name: Kon

Booking Time: 19:30 

EmployeeID: 6


Return all the connections back to the pool. 


TIP: The pool size is two. However, you have three connected users. You can only return two connections. Returning a third connection will raise a PoolError. Use try-except to print the error message.

In [15]:
from mysql.connector import pooling, Error, PoolError

# Define database configurations
dbconfig = {
    "database": "little_lemon_db",
    "user": "root",
    "password": ""
}

# Create the connection pool
try:
    pool_b = pooling.MySQLConnectionPool(
        pool_name="pool_b",
        pool_size=3,  # Adjusted pool size to handle 3 concurrent connections
        **dbconfig
    )
    print("Connection pool 'pool_b' created successfully.")
except Error as err:
    print(f"Error: {err}")

# Define booking data
bookings = [
    (8, 'Anees', 'Java', '18:00', 6),
    (5, 'Bald', 'Vin', '19:00', 6),
    (12, 'Jay', 'Kon', '19:30', 6)
]

connections = []
try:
    # Obtain connections from the pool
    for i in range(len(bookings)):
        connection = pool_b.get_connection()
        connections.append(connection)

    # Insert data into the Bookings table
    for index, connection in enumerate(connections):
        try:
            cursor = connection.cursor()
            query = """
                INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
                VALUES (%s, %s, %s, %s, %s)
            """
            cursor.execute(query, bookings[index])
            connection.commit()
            print(f"Booking data for guest {index + 1} inserted successfully.")
        except Error as err:
            print(f"Error executing query for guest {index + 1}: {err}")
        finally:
            cursor.close()
            connection.close()  # Properly close and return to the pool

except Error as err:
    print(f"Error: {err}")
finally:
    # Ensure all connections are properly closed
    for connection in connections:
        if connection:
            try:
                connection.close()  # Properly close connection
                print("Connection closed and returned to the pool.")
            except PoolError as pe:
                print(f"Failed to return connection to the pool: {pe}")

Connection pool 'pool_b' created successfully.
Booking data for guest 1 inserted successfully.
Booking data for guest 2 inserted successfully.
Booking data for guest 3 inserted successfully.
Failed to return connection to the pool: Failed adding connection; queue is full
Failed to return connection to the pool: Failed adding connection; queue is full
Failed to return connection to the pool: Failed adding connection; queue is full

## Task 3:
Create a report containing the following information:

The name and EmployeeID of the Little Lemon manager.

The name and role of the employee who receives the highest salary.

The number of guests booked between 18:00 and 20:00.

The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.

In [16]:
from mysql.connector import pooling, Error

# Define database configurations
dbconfig = {
    "database": "little_lemon_db",
    "user": "root",
    "password": ""
}

# Create the connection pool
try:
    pool_b = pooling.MySQLConnectionPool(
        pool_name="pool_b",
        pool_size=2,
        **dbconfig
    )
    print("Connection pool 'pool_b' created successfully.")
except Error as err:
    print(f"Error: {err}")

# Create a function to execute a query and fetch results
def fetch_query_results(query, params=None):
    connection = None
    try:
        connection = pool_b.get_connection()
        cursor = connection.cursor()
        cursor.execute(query, params)
        results = cursor.fetchall()
        cursor.close()
        return results
    except Error as err:
        print(f"Error: {err}")
        return []
    finally:
        if connection:
            connection.close()

# Task 1: Retrieve the manager's name and EmployeeID
manager_query = """
    SELECT Name, EmployeeID
    FROM Employees
    WHERE Role = 'Manager'
"""
managers = fetch_query_results(manager_query)
print("Manager Details:")
if managers:
    for manager in managers:
        print(f"Name: {manager[0]}, EmployeeID: {manager[1]}")
else:
    print("No manager found.")

# Task 2: Find the employee with the highest salary
highest_salary_query = """
    SELECT Name, Role
    FROM Employees
    ORDER BY Annual_Salary DESC
    LIMIT 1
"""
highest_salary_employee = fetch_query_results(highest_salary_query)
print("\nHighest Salary Employee:")
if highest_salary_employee:
    print(f"Name: {highest_salary_employee[0][0]}, Role: {highest_salary_employee[0][1]}")
else:
    print("No employee found.")

# Task 3: Count guests booked between 18:00 and 20:00
guest_count_query = """
    SELECT COUNT(*) 
    FROM Bookings
    WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00'
"""
guest_count = fetch_query_results(guest_count_query)
print(f"\nNumber of guests booked between 18:00 and 20:00: {guest_count[0][0] if guest_count else 'No data available'}")

# Task 4: Full name and BookingID of guests waiting with the receptionist, sorted by BookingSlot
waiting_guests_query = """
    SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS FullName, BookingID
    FROM Bookings
    WHERE EmployeeID IS NULL
    ORDER BY BookingSlot
"""
waiting_guests = fetch_query_results(waiting_guests_query)
print("\nGuests Waiting to be Seated:")
if waiting_guests:
    for guest in waiting_guests:
        print(f"Full Name: {guest[0]}, BookingID: {guest[1]}")
else:
    print("No guests waiting.")

Connection pool 'pool_b' created successfully.
Manager Details:
Name: Mario Gollini, EmployeeID: 1

Highest Salary Employee:
Name: Mario Gollini, Role: Manager

Number of guests booked between 18:00 and 20:00: 7

Guests Waiting to be Seated:
No guests waiting.

## Task 4:
Create a stored procedure named BasicSalesReport that returns the following statistics: 

Total sales

Average sale

Minimum bill paid

Maximum bill paid

In [17]:
from mysql.connector import pooling, Error

# Define database configurations
dbconfig = {
    "database": "little_lemon_db",
    "user": "root",
    "password": ""
}

# Create the connection pool
try:
    pool_b = pooling.MySQLConnectionPool(
        pool_name="pool_b",
        pool_size=2,
        **dbconfig
    )
    print("Connection pool 'pool_b' created successfully.")
except Error as err:
    print(f"Error: {err}")

# Create and call the stored procedure
try:
    connection = pool_b.get_connection()
    cursor = connection.cursor()

    # Drop the existing procedure if it exists
    cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport")

    # Create the stored procedure
    cursor.execute("""
    CREATE PROCEDURE BasicSalesReport()
    BEGIN
        SELECT 
            SUM(BillAmount) AS TotalSales,
            AVG(BillAmount) AS AverageSale,
            MIN(BillAmount) AS MinimumBillPaid,
            MAX(BillAmount) AS MaximumBillPaid
        FROM Orders;
    END;
    """)
    print("Stored procedure BasicSalesReport created successfully.")

    # Call the stored procedure
    cursor.callproc('BasicSalesReport')
    print("Stored procedure BasicSalesReport called successfully.")

    # Fetch and print the results
    for result in cursor.stored_results():
        report = result.fetchall()
        for row in report:
            print(f"Total Sales: {row[0]}")
            print(f"Average Sale: {row[1]}")
            print(f"Minimum Bill Paid: {row[2]}")
            print(f"Maximum Bill Paid: {row[3]}")

    cursor.close()
    connection.close()
    print("Connection returned to the pool.")

except Error as err:
    print(f"Error: {err}")

Connection pool 'pool_b' created successfully.
Stored procedure BasicSalesReport created successfully.
Stored procedure BasicSalesReport called successfully.
Total Sales: 243
Average Sale: 48.6000
Minimum Bill Paid: 37
Maximum Bill Paid: 86
Connection returned to the pool.

## Task 5:
Little Lemon needs to display the next three upcoming bookings from the Bookings table on the kitchen screen to notify their chefs which orders are due next. To complete this task, carry out the following steps:

Get a connection from the pool.

Create a buffered cursor.

Combine the data from the Bookings and the Employee tables. Sort the retrieved records in ascending order. Then display the information of the first three guests. 

Returned the connection back to the pool.


The output should be as follows:

[BookingSlot]

[Guest_name]

[Assigned to: Employee Name [Employee Role]]

In [18]:
from mysql.connector import pooling, Error

# Define database configurations
dbconfig = {
    "database": "little_lemon_db",
    "user": "root",
    "password": ""
}

# Create the connection pool
try:
    pool_b = pooling.MySQLConnectionPool(
        pool_name="pool_b",
        pool_size=2,
        **dbconfig
    )
    print("Connection pool 'pool_b' created successfully.")
except Error as err:
    print(f"Error: {err}")

# Retrieve the next three upcoming bookings
try:
    connection = pool_b.get_connection()
    cursor = connection.cursor(buffered=True)

    # Query to get the next three upcoming bookings
    query = """
    SELECT 
        Bookings.BookingSlot, 
        CONCAT(Bookings.GuestFirstName, ' ', Bookings.GuestLastName) AS GuestName,
        CONCAT(Employees.Name, ' [', Employees.Role, ']') AS EmployeeInfo
    FROM Bookings
    LEFT JOIN Employees ON Bookings.EmployeeID = Employees.EmployeeID
    ORDER BY Bookings.BookingSlot ASC
    LIMIT 3;
    """

    cursor.execute(query)

    # Fetch and print the results
    print("Upcoming Bookings:")
    for (booking_slot, guest_name, employee_info) in cursor:
        print(f"[{booking_slot}]")
        print(f"[{guest_name}]")
        print(f"[Assigned to: {employee_info}]")
        print()

    cursor.close()
    connection.close()
    print("Connection returned to the pool.")

except Error as err:
    print(f"Error: {err}")

Connection pool 'pool_b' created successfully.
Upcoming Bookings:
[15:00:00]
[Vanessa McCarthy]
[Assigned to: Giorgos Dioudis [Head Chef]]

[17:30:00]
[Marcos Romero]
[Assigned to: Fatma Kaya [Assistant Chef]]

[18:00:00]
[Anees Java]
[Assigned to: John Millar [Receptionist]]

Connection returned to the pool.